.footer{
  background-color: #0A3161;
  height: 120px;
  display: flex;
  align-items: center;
  border-top: 5px solid #B31942;
  position: relative;
  bottom: 0;
}

.text{
  font-size: 20px;
  color: #FFFFFF;
  width: fit-content;
  margin: auto;
  text-align: center;
}
