<app-header></app-header>
<h1>Search Breweries:</h1>
<div class="search-box">
  <input type="text" placeholder="Serch Brewery" [(ngModel)]="searchText" (input)="filterBreweries()">
  <span>Or: </span>
  <select  [(ngModel)]="selectedState" (ngModelChange)="filterByState()">
    <option value="" disabled>Select State</option>
    <option *ngFor="let state of states" [value]="state">{{ state }}</option>
  </select>
</div>
<div class="cards-container">
  <app-brewery-card *ngFor="let brewery of currentPage" [brewery]="brewery"></app-brewery-card>
</div>
<mat-paginator class="paginator"
  [length]="filteredBreweries.length"
  [pageSize]="pageSize"
  [showFirstLastButtons]="true"
  aria-label="Select page"
  (page)="onPageChange($event)">
</mat-paginator>
<app-footer></app-footer>
