<mat-card *ngIf="brewery" class="example-card">
  <mat-card-header class="card-header">
    <mat-card-title class="title"><strong>{{brewery.name}}</strong></mat-card-title>
  </mat-card-header>
  <mat-card-content class="info-box">
    <span *ngIf="brewery.brewery_type" class="info"><strong>TYPE: </strong>{{brewery.brewery_type | capitalize}}<br></span>
    <span *ngIf="brewery.state" class="info"><strong>STATE: </strong>{{brewery.state}}<br></span>
    <span *ngIf="brewery.city" class="info"><strong>CITY: </strong>{{brewery.city}}<br></span>
    <span *ngIf="brewery.street" class="info"><strong>STREET: </strong>{{brewery.street}}<br></span>
    <span *ngIf="brewery.phone" class="info"><strong>PHONE NUBER: </strong>{{brewery.phone}}<br></span>
    <span *ngIf="brewery.postal_code" class="info"><strong>POSTAL CODE: </strong>{{brewery.postal_code}}<br></span>
  </mat-card-content>
  <mat-card-actions class="card-footer">
    <a  *ngIf="brewery.website_url" href="{{brewery.website_url}}" target="_blank">
      <button mat-button class="website-btn">
        <span>WEBSITE</span>
      </button>
    </a>
  </mat-card-actions>
</mat-card>


<!-- export interface Brewery {
  id: string
  name: string
  brewery_type: string
  address_1?: string
  address_2?: string
  address_3: any
  city: string
  state_province: string
  postal_code: string
  country: string
  longitude?: string
  latitude?: string
  phone?: string
  website_url?: string
  state: string
  street?: string
} -->
